[user]
	name = XXX YYY
	email = xxx@yyy.com

[core]
	autocrlf = input

[alias]
	st = status
	co = checkout
	pom = push origin master
	br = branch
	ci = commit
	rb = rebase
	df = diff
	unstaged = diff
	staged = diff --cached
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	lol = !"git lg --name-status"
    conflicted = diff --name-only --diff-filter=U
